.container {
  width: 300px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.box1 {
  border: 2px solid black;
  flex-grow: 1;
  /* flex-shrink: 2; */
  flex-basis: auto;
}
