* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #252525;
  /* overflow-x: hidden; */
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #3c0080;
  border: 1px solid #3c0080;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #5b14ac;
  border-color: #5b14ac;
}
.centered {
  width: 90vw;
  height: 40vh;
  background-color: #5b14ac;
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  color: red;
  font-weight: 400;
  margin-top: 2px;
}
